<h3 class='text-primary'><%= @event.name %></h3>
<p>Host: <%= @event.user.first_name %> <%= @event.user.last_name %></p>
<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %> <%= @event.state %></p>
<p class='h5'>Number of people attending: <%= @number_of_people_joining %></p>

<h3 class='text-primary'>Attendees</h3>
<table class='table table-hover table-bordered'>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>State</th>
  </tr>
  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.first_name%> <%= attendee.last_name %></td>
      <td><%= attendee.location %></td>
      <td><%= attendee.state %></td>
    </tr>
  <% end %>
</table>

<h3 class='text-primary'>Discussion About This Event</h3>

<% @comments.each do |comment| %>
  <span class='text-primary'><%= comment.user.first_name %></span> says: <%= comment.content %>
  <hr>
<% end %>

<form action="<%= comments_path @event %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label class='h5 text-primary'>Add Comment</label><br>
  <textarea name='comment[content]' rows='5' cols='35' ></textarea><br><br>

  <input class='btn btn-primary' type="submit" value="Submit Comment">
</form>
